<div class="product col-sm-4 col-lg-3">
<div class="col-xs-12 elements">
	<div class="title">
		<p>Title</p>
	</div>
	<img src="https://ae01.alicdn.com/kf/HTB1uykeKpXXXXbqXpXXq6xXFXXX3/Upkeeping-Ovario-Spa-Masaje-de-Aromaterapia-Aceites-esenciales-Cuidado-de-La-Piel-100-de-Aceite-Esencial.jpg" alt="" height="200px" width="200px">
	<div class="description">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
		<p>cod: 302</p>
	</div>
	<div class="price">
		<p>Precio: $200</p>
	</div>
	<button class="btn btn-default btn-class">Consultar</button>
</div>
</div>