
	.products{
		background-color:  #efe7de;
		height: 100%;
	}
	.container{
		background: #efe7de;
		padding: 0;
	}
	.categories{
		margin-top: 30px;
		margin-bottom: 10px;
		display: flex;
		align-items: center;
		height: 50px;
		background: #95db46;
	}
	.categories input{
		padding: 5px;
	}
