<div class="navbar">
	<a class="navbar-toggled" href="#">
		<i class="fa fa-bars fa-3x" aria-hidden="true"></i>
	</a>	
	<nav class="nav-bar">
		<a href="#" class="nav-button">Home</a>
		<a href=# class="nav-button">Productos</a>
		<a href=# class="nav-button">Sugerencias</a>
		<a href=# class="nav-button">Quienes somos?</a>
		<a href=# class="nav-button">Contactenos</a>
	</nav>
</div>
<div class="cuerpo">
	<div class="image">
		<img class="slider" src="https://cdn.spafinder.com/2016/01/spa-treatments-to-try.jpg">
	</div>
	
</div>

