<div class="navbar">
	<a class="navbar-toggled" href="#">
		<i class="fa fa-bars fa-3x" aria-hidden="true"></i>
	</a>	
	<nav class="nav-bar">
		<a href="#" class="nav-button"><i class="fa fa-home " aria-hidden="true"></i>Home</a>
		<a href=# class="nav-button">Productos</a>
		<a href=# class="nav-button">Sugerencias</a>
		<a href=# class="nav-button">Quienes somos?</a>
		<a href=# class="nav-button">Contactenos</a>
	</nav>
</div>
<body-component></body-component>
<footer-component></footer-component>
