<div class="navbar">
	<a class="navbar-toggled" href="#">
		<i class="fa fa-bars fa-3x" aria-hidden="true"></i>
	</a>	
	<nav class="nav-bar">
		<li routerLinkActive="active">
			<a href="#" [routerLink]="['/home']" class="nav-button"><i class="fa fa-home " aria-hidden="true"></i>Home</a>
		</li>
		<li routerLinkActive="active">
			<a [routerLink]="['/products']" href="#" class="nav-button">Productos</a>
		</li>		
		<li routerLinkActive="active">
			<a [routerLink]="['/paqyprom']" href=# class="nav-button">Paquetes/Promociones</a>
		</li>
		<li routerLinkActive="active">
			<a [routerLink]="['/about']" href=# class="nav-button">Quienes somos?</a>
		</li>
		<li routerLinkActive="active">
			<a [routerLink]="['/contact']" href=# class="nav-button">Contactenos</a>
		</li>
	</nav>
</div>