<div class="navbar">
	<a class="navbar-toggled" href="#">
		<i class="fa fa-bars fa-3x" aria-hidden="true"></i>
	</a>	
	<nav class="nav-bar">
		<a routerLink="/home" routerLinkActive="active" class="nav-button"><i class="fa fa-home " aria-hidden="true"></i>Home</a>
		<a routerLink="/products" routerLinkActive="active" class="nav-button">Productos</a>
		<a routerLink="/suggest" routerLinkActive="active" class="nav-button">Sugerencias</a>
		<a routerLink="/about" routerLinkActive="active" class="nav-button">Quienes somos?</a>
		<a routerLink="/contact" routerLinkActive="active" class="nav-button">Contactenos</a>
	</nav>